@model OctawareLMS.Models.LoginViewModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Login</h2>
    <form asp-action="Index" asp-controller="Home">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="Id"></label>
        <input type="number" asp-for="Id" placeholder="Enter your Employee Id"/>
        <span asp-validation-for="Id" class="text-danger"></span>
        <br /><br />
        <label asp-for="Password"></label>
        <input asp-for="Password" placeholder="Enter Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <button type="submit" class="bg-primary">Login</button>

    </form>
</div>
